version: '3.7'


services:
  redis:
      image: redis:7.0-alpine
      command: redis-server --requirepass redis
      ports:
        - "6379:6379"
      volumes:
        - E:\docker\data\redis:/data